body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0px;
  padding-left: 0px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  /* background-color: green; */
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  
}

.logo-blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  margin-right: 76px;
}

.logo-dark {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-link {
  position: relative;

  padding-top: 28px;
  padding-bottom: 27px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2E2F42;
  transition: color #2E2F42;
}

.header-link:is(:hover, :focus) {
  color: #404BBF;
}

/* .header-link.current {
  color: #404BBF;
} */

.header-link.current::after {
  position: absolute;
display: block;
  content: '';
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;

  background-color: #404BBF;
  border-radius: 2px;
}
/* .header-link:hover::after {
  transform: scaleX(1);
} */

.header-list {
  display: flex;
  margin-left: 0px;
}
.header-item {
  margin-right: 40px;
}
.header-list :last-child {
  margin-right: 0px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  display: inline-block;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:is(:hover, :focus) {
  color: #404bbf;
}

.tele-link {
  display: inline-block;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.tele-link:is(:hover, :focus) {
  color: #404bbf;
}

/* section-1 */

.section-description {
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  max-width: 1440px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1-min.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.description-title {
  margin-top: 0;
  margin-bottom: 48px;

  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  display: inline-block;
  border: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;

  cursor: pointer;
}

.button:is(:hover, :focus) {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section-2 */
.what-we-do-section {
  padding-bottom: 131px;
}

.about-us-list {
  display: flex;
}

.about-us-item {
  margin-right: 24px;
}
.about-field {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f4f4fd;
}

.about-field-icon {
  height: 64px;
  width: 64px;
}

.about-us-list :last-child {
  margin-right: 0;
}

.about-us-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 0;
  margin-top: 0;
}
.about-us-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 0;
  margin-top: 0;
}

/* section-3 */
.what-we-do-list {
  display: flex;
}

.what-we-do-item {
  margin-right: 24px;
}

.what-we-do-item:last-child {
  margin-right: 0;
}

.what-we-do-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 0;
}

/* section-4 */

.specialist-section {
  background-color: #f4f4fd;
}

.specialist-container {
  background-color: #f4f4fd;
  padding-bottom: 120px;
}

.specialist-header {
  margin-top: 0px;
  margin-bottom: 72px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.specialist-list {
  display: flex;
  flex-wrap: wrap;
}

.specialist-item {
  margin-right: 24px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.specialist-item:last-child {
  margin-right: 0px;
}

.specialist-image {
  margin-bottom: 0px;
}

.specialist-box {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.specialist-title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.section-occupation {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  margin-right: 24px;
}
.social-item:last-child {
  margin-right: 0px;
}

.scpecialist-button {
  display: flex;
  border: none;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  cursor: pointer;
}

.social-icon {
  height: 16px;
  width: 16px;
}

.scpecialist-button:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scpecialist-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 5 */
.customers-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.customer-item {
  margin-right: 24px;
}
.customer-item:last-child {
  margin-right: 0px;
}
.customer-button {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;

  height: 88px;
  width: 168px;
  border-radius: 4px;

  background-color: white;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  cursor: pointer;
}

.icon-button {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customer-button:hover {
  border: 1px solid #404bbf;
  color: #404bbf;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-button:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  padding-top: 101.5px;
  padding-bottom: 100px;
  background-color: #2e2f42;
  align-items: center;
  border: 1px solid #000000;
}
.footer-container {
  display: flex;
  gap: 120px;
}

.logo-light {
  color: #f4f4fd;
}
.logo-footer {
  margin-bottom: 16px;
}
.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #ffffff;
}

.social-button-footer {
  display: flex;
  border: none;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  width: 40px;
  height: 40px;
  background-color: #404bbf;
  border-radius: 50%;
  cursor: pointer;
}

.social-icon-footer {
  width: 24px;
  height: 24px;
}

.social-button-footer:hover {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-button-footer:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */

/* filters */
.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-item {
  margin-right: 24px;
}
.filters-item:last-child {
  margin-right: 0px;
}

.filters-item-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.filters-item-button:is(:hover, :focus) {
  background: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* sections */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.row-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row-item:nth-child(3n) {
  margin-right: 0px;
}

.row-item:nth-child(n + 4) {
  margin-bottom: 72px;
}
.row-item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.row-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-left: solid #e7e9fc 1px;
  border-right: solid #e7e9fc 1px;
  border-bottom: solid #e7e9fc 1px;
}

.row-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.row-text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.row-img {
  margin-bottom: 0px;
}

/* Hover */

.portfolio-product {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.overlay-title {
  display: flex;
  width: 296px;
  height: 96px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* backdrop */

.backdrop {
  position: fixed;

  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}


.backdrop--hidden .modal{
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



  /* padding: 40px; */
  min-width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}




.close-button {
  position: absolute;

  top: 24px;
  right: 24px;
  display: flex;
  width: 24px;
  height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  fill: #2e2f42;
}
.modal-icon {
  width: 8px;
  height: 8px;
}

.close-button:is(:hover, :focus) {
  background-color: #404bbf;
  fill: #ffffff;
  border: 1px solid #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
